:root {
  --amber: #ffbf00;
  --american-rose: #ff033e;
  --azure: #007fff;
  --majorelle-blue: #6050dc;
  --smoky-black: #100c08;
  --snow: #fffafa;
  --spacing: 1rem; /* 16px */
  --font: 'Times New Roman';
  --logo: url('img/logo.png');
}

html {
}

/* Soporte para css grid primero para IE*/
/* 
.grid-container {
  display: block;
}
.grid-container > section {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}
*/
  
body {
  background-color: #fff;
  color: #ddd; /* ESTO NO SE HACE, LA W3C SE ENOJA, Y JAIL SE ENOJA*/ 
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: calc(var(--spacing) / 3);
    gap: calc(var(--spacing) / 3);
  }
}
@supports not (display: grid) {
  .grid-container {
    display: block;
  }
  grid-container > section {
    display: inline-block;
    width: 20%;
    margin-left: -4px;
  }
}
.grid-container > section {
  border: 1px solid red;
}

.slide {
  --gray: #ddd;
  --spacing: 2rem;
  height: 100vh;
  padding: calc(2 * var(--spacing));
  position: relative;
}

.slide footer {
  margin-top: calc(4 * var(--spacing));
}

.title {
  color: var(--smoky-black);
}

.disclaimer {
  font-size: 0.8rem;
}

.logo {
  background-image: var(--logo);
}


/*
.component {
  .component-body {
    .component-something {

    }
  }
}

*/
/* #id = 100 */
/* .clase = 10 */
/* elemento = 1 */

.component .component-body .component-something {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .component-something {
    font-size: 16px;
  }
}
