:root {
  --amber: #ffbf00;
  --american-rose: #ff033e;
  --azure: #007fff;
  --majorelle-blue: #6050dc;
  --smoky-black: #100c08;
  --snow: #fffafa;
  --spacing: 1rem;
}

  
body {
  color: var(--smoky-black); 
}


.slide {
  height: 100vh;
  font-size: 2rem;
  padding: calc(2 * var(--spacing));
}

.disclaimer {
  display: inline-block;
  border-bottom: 0.5rem solid var(--azure);
  color: var(--azure);
  font-size: 1.25rem;
}
