:root {
  --amber: #ffbf00;
  --american-rose: #ff033e;
  --azure: #007fff;
  --majorelle-blue: #6050dc;
  --smoky-black: #100c08;
  --snow: #fffafa;
  --spacing: 1rem;
  --font-lg: 2.25rem;
  --font-xl: 2.75rem;
  --font-2xl: 3.25rem;
  --font-3xl: 4rem;
  --font-5xl: 5rem;
}

body {
  background-color: var(--snow);
  color: var(--smoky-black);
  font-size: var(--font-lg);
  line-height: 1;
}

img {
  max-width: 100%;
}

.logo {
  width: 400px;
}

.slide {
  height: 100vh;
  padding: calc(2 * var(--spacing));
  position: relative;
  font-size: var(--font-xl);
}

.title {
  color: var(--smoky-black);
  font-size: var(--font-3xl);
}

.talk-title {
  margin-top: 8rem;
  font-size: var(--font-5xl);
  max-width: 24ch;
}

.subtitle {
  font-size: var(--font-2xl);
}

.footer {
  font-size: var(--font-lg);
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--amber);
}
